.counter-timer input {
	text-align: center !important;
}

.v-toolbar__title {
	max-width: 250px;
	margin-right: 30px;
	font-size: 15px;
}

.v-toolbar__title h5, .v-toolbar__title h6{
	font-size: 14px !important;
}

.v-list-item__title {
	max-width: 250px;
}
.v-subheader{
	padding: 0 !important;
	font-size: 13px !important;
}

.theme--light.v-subheader{
	color: #000 !important;
}
.v-data-table-header tr th span{
	font-size: 0.90rem;
	text-align: center;
}

.v-icon.v-icon{
	font-size: 16px;
}

.v-list-item__icon{
	margin: 15px 15px 15px 0px !important;
}

.v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child{
	    margin-right: 10px;
}

.v-input, .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label{
	font-size: 13px !important;
	color: #000 !important;
}

.v-input input, .v-input select{
	min-height: 26px;
	padding: 3px 0 3px;
}
.v-input__prepend-inner, .v-input__append-inner{
	margin-top:5px !important;
}
.v-text-field--outlined.v-input--dense .v-label{
	font-size: 13px !important;
}
.v-btn--icon.v-size--default .v-icon{
	font-size: 16px;
	height: 18px;
	width: 18px;
}

.v-text-field--filled.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot{
	min-height: 34px;
}


.v-input .v-label{
	height: 15px;
    line-height: 15px;
}

.v-application .pt-1{
	padding-bottom: 4px;
}
.v-navigation-drawer__content > header > .v-toolbar__content{
	height: 40px !important;
}

.project-table .text-start, .project-table .v-sheet, .project-table .v-sheet .v-toolbar__content, .project-table .v-list-item{
	height: 36px !important;
}

.project-table .v-list-item{
	min-height: 36px !important;
}

.project-table .v-sheet .v-toolbar__content{
	padding-left: 0px;
	padding-right: 0px;
}
.project-table .v-chip.v-size--default{
	height:26px;	
}
/* width */
::-webkit-scrollbar {
width: 7px !important;
height: 7px !important;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

.swal2-popup{
	font-family: "Roboto", sans-serif !important;
}